@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #52525221;
    color: #555555;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

/* Header & Navigation Bar */

.navbar {
    margin-bottom: 0;
    padding: 8px 20px;
    width: 100%;
    background-color: #2098d1;
    z-index: 1;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.title {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: yellow;
}

.title:hover {
    color: rgb(226, 226, 226);
    text-decoration: none;
}


/* Hero Image */

.callout-container {
    height: 90vh;
    background: url("../images/Travelpal.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Colors */

